<ion-view view-title="Ingredients" hide-back-button="true" class="home">
  <ion-nav-buttons side="primary">
    <button class="button" ng-click="getPhoto(false)">
      <i class="icon ion-camera"></i>
    </button>
    <button class="button photos" ng-click="getPhoto(true)">
      <i class="icon ion-ios-photos"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div wm-load="loader">
      <div class="text-center padding">
        <svg width="165" height="165" xmlns="http://www.w3.org/2000/svg">
          <g>
            <circle id="circle" class="circle rating-0-circle" r="69.85699" cy="81" cx="81" style="stroke-dashoffset: {{ rating0Offset }}"/>
            <circle id="circle" class="circle rating-1-circle" r="69.85699" cy="81" cx="81" style="stroke-dashoffset: {{ rating1Offset }}"/>
            <circle id="circle" class="circle rating-2-circle" r="69.85699" cy="81" cx="81" style="stroke-dashoffset: {{ rating2Offset }}"/>
          </g>
        </svg>
      </div>

      <div class="counts padding">
        <div class="countGroup total">
          <div class="count"> {{ total }} </div>
          <div class="countTitle">Total</div>
        </div>

        <div class="countGroup bad">
          <div class="count"> {{ r1Count }} </div>
          <div class="countTitle">Bad</div>
        </div>

        <div class="countGroup allergy">
          <div class="count">{{ r0Count }}</div>
          <div class="countTitle">Allergy</div>
        </div>
      </div>

      <ion-list>
        <ion-item ng-click="openPopover(ing)" ng-repeat="ing in ings" class="item-icon-left item-icon-right">
          <i class="icon ion-record rating rating-{{ ing.rating }}"></i>
            <div>{{ ing.name }}</div>
            <div class="subName">{{ ing.subName }}</div>
          <i class="icon ion-information-circled"></i>
        </ion-item>
      </ion-list>

      <ion-toggle ng-model="input.useFake" toggle-class="toggle-calm">Fake Data</ion-toggle>
    </div>
  </ion-content>
</ion-view>
